<section class="sidebar-wrap">
  <nav class="site-nav">
    <div id="menu" class="menu-list">
      {{ $curPage := . }}
      {{ range .Site.Menus.main }}
      {{ $active := or ($curPage.IsMenuCurrent "main" .) ($curPage.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $curPage.Title) }}
      <div class="menu-item {{ if $active }}menu-item-active{{ end }}">
        <a href="{{ .URL | relLangURL }}" rel="section" {{ if eq .URL "/404.html" }}target="_blank" {{ end }}>
          {{ .Name }}
        </a>
      </div>
      {{ end }}
    </div>
  </nav>
</section>
