<nav class="site-nav">
  <ul id="menu" class="menu">
    {{ $curPage := . }}
    {{ range .Site.Menus.main }}
    {{ $active := or ($curPage.IsMenuCurrent "main" .) ($curPage.HasMenuCurrent "main" .) }}
    {{ $active = or $active (eq .Name $curPage.Title) }}
      <li class="menu-item {{ if $active }}menu-item-active{{ end }}">
        <a href="{{ .URL | relLangURL }}" rel="section" {{ if eq .URL "/404.html" }}target="_blank"{{ end }}>
            <i class="menu-item-icon fa fa-fw fa-{{ .Pre }}"></i> <br />{{ .Name }}
        </a>
      </li>
    {{ end }}
  </ul>
</nav>
