<!-- 站点信息 -->
<section class="sidebar-wrap">
  <div class="site-info">
    <div class="site-logo">
      <img width="96" src="/images/logo.png" />
    </div>
    <div><strong>{{ .Site.Title }}</strong></div>
    {{with site.Params.subtitle}}
    <p>{{.}}</p>
    {{end}}
    <div class="site-statis">
      <div class="statis-number">
        <strong class="number">{{ len (where .Site.RegularPages "Section" "posts") }}</strong>
        <div><small>日志</small></div>
      </div>
      <div class="statis-number">
        <strong class="number">{{len .Site.Taxonomies.categories}}</strong>
        <div><small>分类</small></div>
      </div>
      <div class="statis-number">
        <strong class="number">{{len .Site.Taxonomies.tags}}</strong>
        <div><small>标签</small></div>
      </div>
    </div>
  </div>
</section>
