<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ $.Param " contentdir" | default "zh" }}">
  {{- partial "head.html" . -}}
<body>
  <header>
    <div class="header-inner">
      {{- partial "header.html" . -}}
    </div>
    <div class="header-band"></div>
  </header>
  <main id="main">
    <div class="main-inner">
      <div class="content-wrap">
        <div id="main-content" class="main-content">{{- block "main" . }}{{- end }}</div>
      </div>
      {{- partial "sidebar.html" . -}}
    </div>

  </main>
  <footer>
    <div class="footer-inner">
      {{- partial "footer.html" . -}}
    </div>
  </footer>
  {{- partial "script.html" . -}}
</body>

</html>
