{{define "main"}}

<!--$paginator-->
{{$p := .Pages}} {{if .IsHome}} {{$p = where site.RegularPages "Type" "in"
site.Params.mainSections}} {{else if eq .Kind "taxonomy"}} {{$p = $p.ByTitle}}
{{end}} {{$paginator := .Paginate $p}}

<!--list-->
<ul class="post-list">
  {{range $paginator.Pages}}
  <li>
    <div class="post-item">
      <h4><a href="{{.RelPermalink}}">{{.Title}}</a></h4>
      <p>{{ .Summary }} </p>
      {{ partial "post/mate.html" .}}
    </div>
  </li>
  {{end}}
</ul>

<!--pagination-->
<!-- {{template "_internal/pagination.html" .}}  -->
{{ partial "pagination" .}}
{{end}}
