{{ define "main" }}
<article>
  <!--文章标题-->
  <h2 id="post-title">{{ .Title }}</h2>
  <!--文章 mate-->
  {{ partial "post/mate.html" . }}
  <!--文章内容-->
  <div class="markdown-body post-body">{{ .Content }}</div>
  <!-- 文章版权 -->
  {{ partial "widgets/copyright.html" . }}
  <!-- 打赏 -->
  {{ partial "widgets/donate.html" .}}
  <!--文章标签-->
  {{ partial "widgets/tags.html" . }}
  <!-- Prev/Next 文章 -->
  {{ partial "widgets/prevnext.html" . }}
  <!--关联文章-->
  {{ partial "widgets/related.html" . }}
</section>
{{ end }}
